  <div >
            <div>
              <h3 class="box-title">Add Data</h3>
            </div>
            <div >
              <div >
                <div class="col-xs-3">
                    <b>Name:</b><input type="text" class="form-control">
                </div>
                <div class="col-xs-3">
                 <b>Email:</b>  <input type="text" class="form-control" >
                </div>
                <div class="col-xs-3">
                  <b>Phone</b> <input type="text" class="form-control" >
                </div>
                  <div>
                  <button type="submit" class="btn btn-primary">Save</button>
                  </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>